<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% if page_name is defined %}{{ page_name }}{% endif %}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/styles/bootstrap.min.css') }}" />
        <style>
        #collapseLogout a {
            color: rgba(0,0,0,.9);
        }
        </style>
        {% endblock %}
    </head>
    <body>
        <div class="page-container">
        {% block body %}
        {% include "navigation.html.twig" %}
        {% endblock %}
        </div>
        {% block javascripts %}
        <script src="{{ asset('assets/scripts/jquery-3.4.1.slim.min.js') }}"></script>
        <script src="{{ asset('assets/scripts/popper.min.js') }}"></script>
        <script src="{{ asset('assets/scripts/bootstrap.bundle.min.js') }}"></script>
        <script>
        $('.collapse').collapse('hide');
        </script>
        {% endblock %}
    </body>
</html>
